DB_USER=admin
DB_PASSWORD=change_me

ORIGINHUB_JWT_SECRET=YOUR_INFO
ORIGINHUB_GIT_REPO__ROOT=/data/repos
ORIGINHUB_FRONTEND_BASE_URL=http://localhost:8080
ORIGINHUB_GIT_SSH_URL=git@localhost:2222

OAUTH2_GOOGLE_CLIENT_ID=YOUR_INFO
OAUTH2_GOOGLE_CLIENT_SECRET=YOUR_INFO
OAUTH2_GITHUB_CLIENT_ID=YOUR_INFO
OAUTH2_GITHUB_CLIENT_SECRET=YOUR_INFO
OAUTH2_GITLAB_CLIENT_ID=YOUR_INFO
OAUTH2_GITLAB_CLIENT_SECRET=YOUR_INFO
